li {
    list-style: none;
}

.contact {
    font-weight: 700;
    text-decoration: underline;
}

.heading {
    position: relative;
    margin-bottom: 150px;
}

.bg-image {
    background-image: url("./contact_background_1.webp");
    
    filter: blur(6px);
    -webkit-filter: blur(4px);
    
    height: 500px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-text {
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-family: David Libre;
    font-weight: bold;
    font-size: 66px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 60%;
    padding-top: 36px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.text {
    margin-bottom: 170px;
}

.contact-map {
    border-style: solid;
    border-radius: 5%;
    float: right;
    width: 30%;
    margin-top: -42px;
    margin-right: 80px;
    margin-left: 20px;
}

.contact-details {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    font-family: Inter;
}

.icon {
    width: 26px;
}

.contact-back {
    float: left;
    width: 40%;
    margin-right: 8%;
}

.feedback {
    font-family: Inter;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 34px;
    border: 0.8px solid rgb(145, 142, 142);
    border-top: none;
    border-right: none;
    border-left: none;
    
}

.name {
    display: block;
}

.message {
    display: block;
    border: 0.8px solid rgb(145, 142, 142);
    width: 50%;
    height: 200px;
    
}

.phone {
    margin-right: 60px;
}
