.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    color: #101A24;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 140px;
}

.left-sec{
    display: flex;
    align-items: end;
}

.logo{
    height: 50px;
}

.restaurant-name{
    font-family: David Libre;
    font-size: 26px;
    font-weight: 700;
    margin: auto 0px 0px 6px;
    line-height: 30px;
}

.middle-sec{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    background-color: white;
    border: none;
    padding: 16px;
}