body {
    background-color: rgb(241, 241, 241);
}

.rev-navbar {
    background-color: rgb(241 ,241, 241);
}

.header {
    background-color: rgb(241 ,241, 241);
}


.review {
    font-weight: 700;
    text-decoration: underline;
}

.written-review {
    background-color: white;
    text-align: center;
    display: block;
    margin: 50px auto;
    width: 56%;

}

.review-body {
    font-family: Inter;
    
}